.home{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 9%;
}

.Introduction{
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px grey;
    color: white;
    border-radius: 5px;
    height: 70%;
    width: 40%;
    margin-top: 50px;
    margin-left: 10%;
    opacity: 0;
    transform: translateX(-5%); 
    animation: slideIn 2s ease forwards;
}
.name{
    font-size: 2rem;
    margin-top: 20px;
    margin-left: 7px;
}

.role{
    font-size: 3rem;
    margin-top: 15px;
    text-transform: uppercase;
    background: linear-gradient(to right, #FFD700, #00BFFF);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    margin-left: 7px;
}
#viewCount{
    font-size: 2.5rem;
    margin-top: 15px;    
    background: linear-gradient(to right, #22ff00, #ff0073); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-align: center; 
    white-space: nowrap;   
}
.selfDescription{
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: 7px;
}
.socialMediaLinks{
    font-size: 3rem;
    margin-top: 15px;
}
.socialMediaLinks a{
    color: white;
    text-decoration: none;
}
.socialMediaLinks a i{    
    margin-left: 10%;
}
.socialMediaLinks a i:hover{
    scale: 1.1;
}

.portfolioPicture{
    height: 70%;
    width: 30%;
    box-shadow: 0px 3px 10px grey;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    transform: translateX(-5%); 
    animation: slideIn 2s ease forwards;
}
.portfolioPicture img{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width:950px){
    .home{
        gap:5%;
    }
    .Introduction{
        margin-left: 1.5%;
        width: 50%;
    }
    .portfolioPicture{
        width: 47%;
    }
}
@media only screen and (max-width: 730px){
    .home{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    .Introduction{
        width: 97%;
        margin-top: 0%;
        margin-left: 1%;
    }
    .portfolioPicture{
        margin-top: 25px;
        border-radius: 50%;
        min-height: 250px;
        min-width: 250px;
    }
    .portfolioPicture img{
        border-radius: 32%;
    }
    .socialMediaLinks a i{    
        margin-left: 7%;
    }
}
@media only screen and (min-width: 1024px) and (max-height:601px){
    .Introduction{
        width: 90%;
        margin-left: 3%;
    }
    .name,.role{
        margin-top: 5px;
    }
    .portfolioPicture{
        width: 40%;
    }
    .home{
        gap: 2%;
    }
}
@media only screen and (min-width: 1024px) and (min-height:1024px){
    .Introduction{
        height: 60%;
        width: 50%;
        margin-left: 2%;
    }
    .portfolioPicture{
        height: 60%;
        width: 50%;
    }
    .home{
        gap: 2%;
    }
}