body{
    background: url("../media/background.jpg") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
}
#navBar{
    margin-left: auto;
    margin-right: auto;
    height: 7.5%;
    width: 50%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 10px grey;
    margin-top: 25px;
    z-index: 10;
}