.skills{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillsContainer{
    min-height: 18vh;
    width: 75vw;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}
.skillsHeader{
    font-size: 1.5rem;
    margin:10px;
    border-bottom: 2px dashed black;
    text-transform: uppercase;
    font-weight: 600;
}
.skillsList{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-top: 10px;
}
.skill img{
    height: 60px;
    width: 80px;
    transform: translateX(-5%); 
    animation: slideIn 2s ease forwards;
}

@media only screen and (max-width:650px){
    .skillsContainer{
        width: 90vw;
    }
    .skill{
        margin-left: 10px;
    }
}